<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>CPScheduler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>CPUKernel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>CardinalityTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>Clo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>CuttingStock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>Euler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>LPRelaxation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>LagrangeSetCovering.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>LogicBendersExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>MD5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>ORFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>ORModeling.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>ORProgram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>ORScheduler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>ORSchedulingProgram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>ORUtilities.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>SportDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>167</integer>
		</dict>
		<key>Sudoku.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>TableTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>171</integer>
		</dict>
		<key>TestAssignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>172</integer>
		</dict>
		<key>ais.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>allProgs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>assignmentProblem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>bacp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>bibd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>bugTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>cdisj.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>circle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>coloringModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>coloringModelCP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>costas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>costas2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>debruijn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>eq20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>fdmul.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>fdmul2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>fjsp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>fwarehouse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>golomb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>grocery.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>groupDisj.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>gurobiwrapper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>iQueens.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>issue01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>jobshop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>jsp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>knapsack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>knapsackOpt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>langford.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>latinSquare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>magicSeriesSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>magicserie.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>magicseriesModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>magicsquareModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>market2s.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>market2sLR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>marriage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>minesweeper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>model.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>models.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>mrcpsp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>nfraction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>nonogram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>objcp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>objlp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>objmp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>order.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>order2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>orderGroup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>orderSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>paq.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>partition.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>perfect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>progressive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>qg7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>queens2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>queensAC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>queensACSem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>queensGui.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>queensModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>queensNaive-VIEW.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>queensNaive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>queensNaiveSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>rcpsp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>regular.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>scene.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>shiploading.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>slab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>slabIP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>slabLNSModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>slabModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>slabZIB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>slow_convergence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>smory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>sport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>sportModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>168</integer>
		</dict>
		<key>stressLimit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>169</integer>
		</dict>
		<key>testDistrib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>173</integer>
		</dict>
		<key>testLPConcretization.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>174</integer>
		</dict>
		<key>testLPWrapper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>175</integer>
		</dict>
		<key>testMIP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>176</integer>
		</dict>
		<key>testPacking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>177</integer>
		</dict>
		<key>testScheduler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>178</integer>
		</dict>
		<key>verhulstBB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>183</integer>
		</dict>
		<key>verifSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>179</integer>
		</dict>
		<key>vietnameseSnake.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>180</integer>
		</dict>
		<key>vietnameseSnakeSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>181</integer>
		</dict>
		<key>warehouse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADD3D7D12260E366008EC005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
