<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AtomicTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CPLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>CPUKernel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>CardinalityTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Clo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>CuttingStock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Euler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>GraveYard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>LPWrapper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>LogicBendersExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>MD5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>ORFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>ORModeling.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>ORProgram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>ORUtilities.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>SHA1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Silly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>SportDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Sudoku.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TableTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>TestAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ais.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>allProgs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>assignmentProblem 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>assignmentProblem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>bibd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>bitArrayTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>bug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>coloringModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>costas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>debruijn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>driver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>eq20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>fdmul.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>fdmul2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>golomb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>grocery.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>gurobiwrapper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>iCP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>iQueens.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>knapsack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>knapsackOpt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>langford 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>langford.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>latinSquare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>lpsolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>magic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>magicserie.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>magicseriesModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>magicsquareModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>market2s.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>marriage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>minesweeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>models.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>mpinterface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>mpwrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>mpwrapperfactory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>nfraction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>objcp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>objcpTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>objlp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>objmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>order.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>paq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>partition.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>perfect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>progressive 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>progressive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>qg7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>queens2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>queensAC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>queensACSem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>queensGui.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>queensMIP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>queensModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>queensNaive-VIEW.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>queensNaive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>regular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>slab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>slabLNSModel 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>slabLNSModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>slabModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>slow_convergence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>sport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>sportModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>stressLimit 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>stressLimit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>testDistrib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>testLPConcretization.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>testLPWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>testMIP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>testPacking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>testPacking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>testsuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>warehouse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37095B2916DBF173001BCEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37A715C716FB93F900E02DC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B11551E171B1CF4005371AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B19098116DAACA7006D1D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2000E0156D585E00D80105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B28CAE11668FC63008AB802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B28CB0416691F0C008AB802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2D92C817036DA8007F330B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B33370313A2B866001DFC38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3848BD16E6E59300498DCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3848DF16E7883A00498DCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B484DEF16A4527900592A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B484E1216A4BC9D00592A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5096DF1619B6CB00171F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B558C041563F01000D2BCD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5F547A165D6EB200E674DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B60E5BA15AE832C002FF2B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B60E5D515AE907E002FF2B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B66238B176FA5BA00A1ACCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6623AE1770A13200A1ACCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6623D11770B1AD00A1ACCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B68117F161F98FB00F4480F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6A95FF15879F1500019903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6E891F1379D3E9005DB4CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B76D98D15AAADBD00F8B445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B778BB0154F1D030078EB07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7B476915F0E4AD005FF875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7D695515B9C91D00C9A10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B80560F16076DFE00659ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8DA1F415B98BC300684FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9348691655451C00757F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9ABCDE139131EE000997E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9ABCEE1391329D000997E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9ABD011391329D000997E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9EE50415175CCB00619B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9EE52715175CF900619B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA3457B1680B7BD00485366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAD114E161E5E420014EBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAEE09C15AEA08D006CEE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB1700D1582820500D4791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB3836213B3C0E1005B7D52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB898F31697564D00FED099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA3F76151CCADA00D6F6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA3F87151CCB0C00D6F6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA56D3153F33E70089118E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBB08C316C551960087ACF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC09189167F7F9A009A7712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC091AC167F9095009A7712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC091CF167F9D5B009A7712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC1169F1595067900E0F5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC97A29177384C1005C48A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCCC4021417F8CE0079E833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BDBBAA81718D96B00322163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE12173173C75A3000C9AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE5A7E9158A838F006703CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE7773F1594C9E500ADE34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE777531594D27C00ADE34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE7C24A15A94BDF00B2CBC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BEAD78415ABE38500A012FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BEEF60F13970B6F002ADBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF1386F16822EFC005EAC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFD594215A3ACA500825BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B103533E13BBD7AC00627058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B111FBFE13CF3D10003C5119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B12ED8BF159E0C2200713C8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15441EB16D17713001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B154427F16D19D8E001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B154429E16D1A247001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15442C416D1AAD0001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1571EA113EDF10E007B5E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1571EC213EE06AE007B5E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1571EEC13EEBC00007B5E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1595B3D13C11F2A001FCB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15F6DDD15B1361700158FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1672FCF158491DE00EFE5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1672FEB1584A7A500EFE5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1771593155798AA00BA14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B178F62513E89CFA00D59B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B17ABF7813CE4E7700DC7288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B181E11515D7465300AB44DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B182C5E9173C30ED002954F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B189512515DE52D100B77813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B189513C15E0FA5E00B77813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1935C5D15B90ECE00107399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19ABA08146D68FE004EB77E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B68C73159FC16E008BC463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C4F3FA161F87060010A5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C9DF1215A8045C00EE924C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CC831F15D3BEC4008DE335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1E2361415F812AB00AB8DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F3804315F035C0007C6A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F531D715AED4B100E89F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F538A1FA16D2BACF0097C9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F548AA70167FB1C600726814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
