<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37A715C716FB93F900E02DC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537EE9A618FCDC520006FFD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537EEA2618FCE1FE0006FFD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537EEA5F18FCF1C70006FFD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537EEA7C18FCF9880006FFD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53BDBC221A244EB9003EEFA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C4BE2C1929C2E700DE6498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B11551E171B1CF4005371AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B19098116DAACA7006D1D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2000E0156D585E00D80105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2309B61AF2C2900083A8E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B27572F17E87B560082934E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B28CAE11668FC63008AB802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B28CB0416691F0C008AB802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2D92C817036DA8007F330B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B33370313A2B866001DFC38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3848BD16E6E59300498DCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3848DF16E7883A00498DCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3895E81795BE07004CCE93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5096DF1619B6CB00171F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B558C041563F01000D2BCD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5F547A165D6EB200E674DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B60E5D515AE907E002FF2B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B66238B176FA5BA00A1ACCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6623AE1770A13200A1ACCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6623D11770B1AD00A1ACCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B67A4FB17E227BB00516F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B68117F161F98FB00F4480F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6A95FF15879F1500019903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6B0EFD178B557F00104246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6E891F1379D3E9005DB4CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B76D98D15AAADBD00F8B445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B778BB0154F1D030078EB07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7B476915F0E4AD005FF875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7C894E187F455F00D82789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7D695515B9C91D00C9A10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B80560F16076DFE00659ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8DA1F415B98BC300684FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9348691655451C00757F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9ABCEE1391329D000997E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9B2447177873D3001AB944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9EE50415175CCB00619B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9EE52715175CF900619B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA07B0F1B179073005BB066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA3457B1680B7BD00485366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAD114E161E5E420014EBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAEE09C15AEA08D006CEE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB1700D1582820500D4791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB3836213B3C0E1005B7D52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA3F87151CCB0C00D6F6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA56D3153F33E70089118E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBB08C316C551960087ACF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC09189167F7F9A009A7712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC091AC167F9095009A7712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC091CF167F9D5B009A7712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC0C751177A191400B12173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC1169F1595067900E0F5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC97A29177384C1005C48A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BCCC4021417F8CE0079E833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD601C017F9A627006A9CDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BDBBAA81718D96B00322163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE12173173C75A3000C9AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE5A7E9158A838F006703CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE7773F1594C9E500ADE34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE7C24A15A94BDF00B2CBC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BEAD78415ABE38500A012FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BEEF60F13970B6F002ADBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF1386F16822EFC005EAC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF9F38C186353450022C300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFD594215A3ACA500825BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFF681F1860D98E00B50286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B103533E13BBD7AC00627058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B111FBFE13CF3D10003C5119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B127A536196274CE00398AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B127A57419629B0600398AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B127A58419629B0600398AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B12BE44219012746006D1D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B12ED8BF159E0C2200713C8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15441EB16D17713001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B154427F16D19D8E001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B154429E16D1A247001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15442C416D1AAD0001BD7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1574698197D753F00CAC841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1595B3D13C11F2A001FCB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B15F6DDD15B1361700158FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1672FCF158491DE00EFE5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1672FEB1584A7A500EFE5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1771593155798AA00BA14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B181E11515D7465300AB44DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B182C5E9173C30ED002954F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B189512515DE52D100B77813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B189513C15E0FA5E00B77813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B18DF14917810C67004E1880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1935C5D15B90ECE00107399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19ABA08146D68FE004EB77E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19B5583190518CF0069ABA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B68C73159FC16E008BC463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C4F3FA161F87060010A5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C9DF1215A8045C00EE924C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CC831F15D3BEC4008DE335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1F531D715AED4B100E89F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F548AA70167FB1C600726814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
